$size: 200px;
$dropSize: 15px;
$colorSuccess: rgb(76, 173, 76);
$color: #f74d4d;
$color2: #f86569;
$dropColor: #e24f4f;

@mixin translate ($x, $y: 0) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
}

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

button.buzzer {
    all: unset;
    width: $size;
    height: $size - $size/10;
    line-height: $size;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background: $color;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color), color-stop(100%, $color2));

    background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, $color), color-stop(100%, $color2));

    box-shadow: 0 $dropSize $dropColor;

    &:active {
        box-shadow: 0 0 $dropColor;
        @include translate(0px, $dropSize);
        @include transition(0.1s all ease-out);
    }

    &.pressed {
        box-shadow: 0 0 $dropColor;
        @include translate(0px, $dropSize);
        @include transition(0.1s all ease-out);
    }

    &.success {
        background: $colorSuccess;
    }
}